/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "para";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Oxygen:400,300,700);

@include global-reset;

$body-font-stack: 'Lora', serif;
$heading-font-stack: 'Oxygen', sans-serif;

$base-font-size: 24px;
$base-line-height: 32px;

@include initialise-grid();

$breakpoints: palm, tablet, portable, desk, wide, huge;
$vars: $palm, $tablet, $portable, $desk, $wide, $huge;

@include setup-grid();
@include setup-push-pull();

@for $i from 1 through length($breakpoints){
  @include media-query(#{nth($vars, $i)}){
    @include setup-grid("#{nth($breakpoints, $i)}-");
    @include setup-push-pull("#{nth($breakpoints, $i)}-");
  }
}

@include establish-baseline;

html{
  @include padding-leader(1);
  @include contrasted(#343333);
  font-family: $body-font-stack;
  font-weight: 400;
}

.text--center, .text--centre{
  text-align: center;
}

.grid__item{
  @include padding-leader(1);
  @include padding-trailer(1);
  @include border-radius(6px);
}

.grid__item--contrasted{
  @include contrasted(#f3f3f3);
  border-right: 1px solid #343333;
  border-bottom: 1px solid #343333;
}

.grid{
  @include trailer(1);
  @include clearfix;
}

/*
 * $HEADINGS
 */
%heading{
  font-family: $heading-font-stack;
  font-weight: 700;
}
h1{
  @include adjust-font-size-to(60px);
  @include trailer(0.2);
  @extend %heading;
} 
.heading--fancy{
  font-style: italic;
}
h2{
  @include adjust-font-size-to(30px);
  @extend %heading;
}
h3{
  @include adjust-font-size-to(26px);
  @extend %heading;
}
