<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/screen.css">

    </head>
    <body>

        <div class="site">
          <header class="grid">
            <div class="header grid__item one-whole">
              <h1 class="text--center">{{ site.name }}</h1>
            </div>
          </header>

          {{ content }}

          <div class="footer grid">
            <div class="contact grid__item three-quarters">
              <p>
                Finn<br />
                <a href="mailto:digital@finncomms.com">digital@finncomms.com</a>
              </p>
            </div>
            <div class="contact grid__item one-quarter">
              <p>
                <a href="https://github.com/finndigital">github.com/finndigital</a><br />
                <a href="https://twitter.com/Finn_PR">twitter.com/Finn_PR</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
